api/schemas/SaveGameBackup.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="entries">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="games">
          <xs:complexType mixed="true">
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="entry">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="datapath">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute name="append" type="xs:string" use="optional" />
                            <xs:attribute name="include" type="xs:string" use="optional" />
                            <xs:attribute name="type" type="xs:string" use="optional" />
                            <xs:attribute name="remove" type="xs:string" use="optional" />
                            <xs:attribute name="exclude" type="xs:string" use="optional" />
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" name="regpath" type="xs:string" />
                    <xs:element minOccurs="0" name="note" type="xs:string" />
                  </xs:sequence>
                  <xs:attribute name="name" type="xs:string" use="required" />
                  <xs:attribute name="type" type="xs:string" use="optional" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="applications" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="entry">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="datapath">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute name="include" type="xs:string" use="optional" />
                            <xs:attribute name="exclude" type="xs:string" use="optional" />
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" name="regpath" type="xs:string" />
                    <xs:element minOccurs="0" name="note" type="xs:string" />
                  </xs:sequence>
                  <xs:attribute name="name" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="ver" type="xs:unsignedByte" use="required" />
      <xs:attribute name="reldate" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>
</xs:schema>